$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-add-circle: "\e900";
$icon-game-controller: "\e901";
$icon-home: "\e902";
$icon-information-circle: "\e903";
